* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(201, 79%, 46%);
  --color-bg: rgb(226,232,240);
}

html {
  font-family: Inter, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 14.2rem 1fr;
  gap: 0.5rem;
  padding-inline-start: 24.1rem;
  background-color: var(--color-bg);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: 2rem;
}

img {
  width: 6rem;
  border-radius: 100%;
}

button {
  font: inherit;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  width: 24.1rem;
  height: 100vh;

  display: grid;
  align-content: start;
  gap: 4.2rem;
  padding: 1.3rem;

  background-color: var(--color-primary);
  color: white;

  svg {
    fill: white;
  }
}

.dashboard-icon {
  width: 3.85rem
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.85rem;
}

h1 {
  font-size: 2.2rem;
}

.sidebar-content {
  display: grid;
  gap: 5.7rem
}

.sidebar-links {
  display: grid;
  gap: 1.7rem;
  padding-inline: 0.9rem;
}

.sidebar-item a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.7rem;
  
  span {
    font-size: 1.9rem;
    font-weight: 600;
  }
}

/* Header */
.page-header {
  display: grid;
  grid-template-columns: 5fr 3.1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem 3.2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
}

/* Header Search */
.header-search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.4rem;
  padding-block-start: 0.8rem;
  svg {
    margin-block-start: 0.2rem;
  }
}

#input-search {
  border:none;
  border-radius: 2rem;
  height: 2.5rem;
  background-color: rgb(226,232,240);
}

/* Header User */
.header-user {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content;
  align-items: center;
  justify-content: end;
  gap: 2.35rem;
  padding-inline-end: 3rem;
}

.user-img {
  width: 3.6rem;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Header Greeting */
.header-greeting {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 1.5rem;
  padding-inline-start: 0.5rem;

  img {
    grid-row: 1 / span 2;
    width: 6rem;
  }
}

.greeting-text {
  font-weight: 700;
}

.greeting-user {
  align-self: start;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

/* Header Actions */
.header-actions {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  gap: 0.5rem;
  padding-inline: 1.8rem;
  align-items: center;
  justify-content: space-between;
  
}

.btn-primary {
  border: none;
  border-radius: 2rem;
  margin-inline: 0.3rem;
  padding-block: 0.8rem;
  width: 8rem;

  background-color: var(--color-primary);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 700;
}

/* Main Content */
.main-content {
  background-color: rgb(226,232,240);
}

