* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(201, 79%, 46%);
  --color-primary-hover: hsl(201, 77%, 40%);
  --color-bg: rgb(226,232,240);
}

html {
  font-family: Inter, Verdana, sans-serif;
}

body {
  padding-inline-start: 24.1rem;
  background-color: var(--color-bg);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: 2rem;
}

img {
  width: 6rem;
  border-radius: 100%;
}

button {
  font: inherit;
  cursor: pointer;

  &:hover svg {
    fill: var(--color-primary-hover);
  }
}

label {
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  width: 24.1rem;
  height: 100vh;

  display: grid;
  align-content: start;
  gap: 4.2rem;
  padding-inline: 1.3rem;
  padding-block-start: 1.3rem;

  background-color: var(--color-primary);
  color: white;

  svg {
    fill: white;
  }
}

.dashboard-icon {
  width: 3.85rem
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.85rem;
}

h1 {
  font-size: 2.2rem;
}

.sidebar-content {
  display: grid;
  gap: 5.7rem
}

.sidebar-links {
  display: grid;
  gap: 1.7rem;
  padding-inline: 0.9rem;
}

.sidebar-item:hover {
  text-decoration: underline;
}

.sidebar-item a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.7rem;
  
  span {
    font-size: 1.9rem;
    font-weight: 600;
  }
}

/* Header */
.page-header {
  display: grid;
  grid-template-columns: 5fr 3.1fr;
  grid-template-rows: 6rem 1fr;
  padding: 1rem 3.2rem;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 4px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
}

/* Header Search */
.header-search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.4rem;
  padding-block-start: 0.8rem;

  svg {
    margin-block-start: 0.2rem;
  }
}

#input-search {
  border:none;
  border-radius: 2rem;
  height: 2.5rem;
  background-color: rgb(226,232,240);
  padding-inline: 2rem;
  outline: none;

  &:focus {
    border: 2px solid var(--color-primary);
  }
}

/* Header User */
.header-user {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content;
  align-items: center;
  justify-content: end;
  gap: 2.35rem;
  padding-block-start: 0.3rem;
  padding-inline-end: 3rem;
}

.header-notification {
  background-color: transparent;
  border: none;

  &:hover svg {
    fill: var(--color-primary);
  }
}

.user-img {
  width: 3.6rem;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Header Greeting */
.header-greeting {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 1.5rem;
  padding-inline-start: 0.5rem;

  img {
    grid-row: 1 / span 2;
    width: 6rem;
  }
}

.greeting-text {
  font-weight: 700;
}

.greeting-user {
  align-self: start;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  word-wrap: break-word;
}

/* Header Actions */
.header-actions {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  gap: 0.5rem;
  padding-inline: 1.8rem;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  border: none;
  border-radius: 2rem;
  margin-inline: 0.3rem;
  padding-block: 0.8rem;
  width: 8rem;

  background-color: var(--color-primary);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

/* Main Content */
.main-content {
  padding-block: 2.5rem;
  padding-inline-start: 1.55rem;
  padding-inline-end: 2.9rem;
  display: grid;
  grid-template-columns: 2.9fr 1fr;
  gap: 1.9rem;
}

.content-header {
  margin-block-end: 1.1rem;
}

/* Project */
.project {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2.3rem;
}

.project-item {
  display:grid;
  grid-template-rows: 1fr max-content;
  position: relative;

  border-radius: 0.5rem;
  padding-block-start: 2.6rem;
  padding-inline-start: 2.6rem;
  padding-block-end: 2rem;
  padding-inline-end: 1.5rem;

  min-height: 17.3rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.2);

  &::before {
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 100%;
    background-color: hsl(42, 87%, 55%);
  }
}

.project-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-block-end: 0.4rem;
}

.project-description {
  color:hsl(0, 0%, 50%);
  font-size: 1.2rem;
}

.project-actions {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
  margin-inline-end: 0.7rem;

  img {
    width: 2rem;
  }

  button {
    border: none;
    background-color: transparent;
  }
}

/* Aside */
aside {
  display: grid;
  gap: 2rem;
  height: 100%;

  li {
    cursor: pointer;
  }
}

/* Announcement */
.announcement-list {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.2);
}

.announcement-item {
  padding-inline: 0.5rem;
  
  p {
    color: hsl(0, 0%, 50%);
    font-size: 0.9rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

/* Trending */
.trending {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.trending-list {
  display: grid;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 1.5rem 1.8rem;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.2);
}

.trending-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
  font-size: 1.1rem;
  
  img {
    width: 3.7rem;
    grid-row: 1 / span 2;
  }

  span:nth-child(2) {
    margin-block-start: 0.5rem;
  }

  span:nth-child(3) {
    color: gray;
  }
}
